<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>mayi_service_thumn</string>
		<key>highImage</key>
		<string>mayi_service_thumn_b</string>
		<key>typeName</key>
		<string>老家</string>
		<key>subtype</key>
		<array>
			<string>老家</string>
			<string>题目</string>
			<string>人特有</string>
			<string>外卖</string>
			<string>u 家</string>
			<string>一日我</string>
			<string>认为</string>
			<string>题目</string>
			<string>外卖</string>
			<string>题目</string>
			<string>人特有</string>
			<string>人特有</string>
			<string>题目</string>
			<string>外卖</string>
			<string>题目</string>
			<string>人特有</string>
			<string>人特有</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>mayi_service_thumn</string>
		<key>highImage</key>
		<string>mayi_service_thumn_b</string>
		<key>typeName</key>
		<string>四川</string>
		<key>subtype</key>
		<array>
			<string>四川</string>
			<string>题目</string>
			<string>人特有</string>
			<string>外卖</string>
			<string>u 家</string>
			<string>一日我</string>
			<string>认为</string>
			<string>题目</string>
			<string>题目</string>
			<string>题目</string>
			<string>外卖</string>
			<string>题目</string>
			<string>题目</string>
			<string>人特有</string>
			<string>人特有</string>
			<string>题目</string>
			<string>题目</string>
			<string>外卖</string>
			<string>题目</string>
			<string>题目</string>
			<string>人特有</string>
			<string>人特有</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>mayi_service_thumn</string>
		<key>highImage</key>
		<string>mayi_service_thumn_b</string>
		<key>typeName</key>
		<string>重庆</string>
		<key>subtype</key>
		<array>
			<string>重庆</string>
			<string>题目</string>
			<string>人特有</string>
			<string>外卖</string>
			<string>u 家</string>
			<string>一日我</string>
			<string>一日我</string>
			<string>认为</string>
			<string>题目</string>
			<string>外卖</string>
			<string>一日我</string>
			<string>题目</string>
			<string>一日我</string>
			<string>人特有</string>
			<string>一日我</string>
			<string>一日我</string>
			<string>人特有</string>
			<string>题目</string>
			<string>一日我</string>
			<string>外卖</string>
			<string>题目</string>
			<string>一日我</string>
			<string>人特有</string>
			<string>一日我</string>
			<string>人特有</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>mayi_service_thumn</string>
		<key>highImage</key>
		<string>mayi_service_thumn_b</string>
		<key>typeName</key>
		<string>湖南</string>
		<key>subtype</key>
		<array>
			<string>湖南</string>
			<string>题目</string>
			<string>人特有</string>
			<string>外卖</string>
			<string>外卖</string>
			<string>u 家</string>
			<string>外卖</string>
			<string>一日我</string>
			<string>认为</string>
			<string>外卖</string>
			<string>外卖</string>
			<string>题目</string>
			<string>外卖</string>
			<string>题目</string>
			<string>人特有</string>
			<string>人特有</string>
			<string>题目</string>
			<string>外卖</string>
			<string>外卖</string>
			<string>题目</string>
			<string>外卖</string>
			<string>外卖</string>
			<string>人特有</string>
			<string>人特有</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>mayi_service_thumn</string>
		<key>highImage</key>
		<string>mayi_service_thumn_b</string>
		<key>typeName</key>
		<string>江西</string>
		<key>subtype</key>
		<array>
			<string>江西</string>
			<string>u 家</string>
			<string>猪蹄</string>
			<string>题目</string>
			<string>人特有</string>
			<string>外卖</string>
			<string>u 家</string>
			<string>猪蹄</string>
			<string>u 家</string>
			<string>一日我</string>
			<string>认为</string>
			<string>猪蹄</string>
			<string>u 家</string>
			<string>u 家</string>
			<string>猪蹄</string>
			<string>猪蹄</string>
			<string>题目</string>
			<string></string>
			<string>外卖</string>
			<string>猪蹄</string>
			<string>u 家</string>
			<string>猪蹄</string>
			<string>题目</string>
			<string>人特有</string>
			<string>u 家</string>
			<string>猪蹄</string>
			<string>人特有</string>
			<string>题目</string>
			<string>猪蹄</string>
			<string>外卖</string>
			<string>猪蹄</string>
			<string>题目</string>
			<string>猪蹄</string>
			<string>u 家</string>
			<string>猪蹄</string>
			<string>人特有</string>
			<string>人特有</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>mayi_service_thumn</string>
		<key>highImage</key>
		<string>mayi_service_thumn_b</string>
		<key>typeName</key>
		<string>北京</string>
		<key>subtype</key>
		<array>
			<string>北京</string>
			<string>题目</string>
			<string>洗衣服</string>
			<string>人特有</string>
			<string>肌肉</string>
			<string>肌肉</string>
			<string>洗衣服</string>
			<string>外卖</string>
			<string>洗衣服</string>
			<string>洗衣服</string>
			<string>u 家</string>
			<string>肌肉</string>
			<string>洗衣服</string>
			<string>一日我</string>
			<string>肌肉</string>
			<string>洗衣服</string>
			<string>认为</string>
			<string>题目</string>
			<string>肌肉</string>
			<string>洗衣服</string>
			<string>洗衣服</string>
			<string>外卖</string>
			<string>题目</string>
			<string>洗衣服</string>
			<string>人特有</string>
			<string>人特有</string>
			<string>题目</string>
			<string>外卖</string>
			<string>题目</string>
			<string>人特有</string>
			<string>人特有</string>
			<string>洗衣服</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>mayi_service_thumn</string>
		<key>highImage</key>
		<string>mayi_service_thumn_b</string>
		<key>typeName</key>
		<string>道县</string>
		<key>subtype</key>
		<array>
			<string>道县</string>
			<string>题目</string>
			<string>u 家</string>
			<string>人特有</string>
			<string>外卖</string>
			<string>u 家</string>
			<string>u 家</string>
			<string>一日我</string>
			<string>认为</string>
			<string>题目</string>
			<string>外卖</string>
			<string>题目</string>
			<string>人特有</string>
			<string>人特有</string>
			<string>题目</string>
			<string>u 家</string>
			<string>外卖</string>
			<string>题目</string>
			<string>u 家</string>
			<string>人特有</string>
			<string>人特有</string>
		</array>
	</dict>
</array>
</plist>
